# .config/chezmoi/.chezmoi.toml.tmpl
# DEV_ROOT is injected so templates can point env vars at this repo.
sourceDir = "{{ env "DEV_ROOT" }}/.config/chezmoi"
[data]
    devRoot = {{ env "DEV_ROOT" | quote }}
